body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}



.container {
  margin:auto;
  text-align: center;
  width: 70%; 
}
.feeds {
  text-align: left;
}
.desc {
  width: 75%;
  float: left;
  padding-left: 20px;
}
.imgprev{
  width: 100%;
  float: left;
} 
.img{
  width: 20%; 
}
a {
  color: #00B7FF;
}
.title{
  font-size: 16px;
  margin-bottom: 10px;
}
.date{
  font-family: serif;
  color: #7f7f7f;
  font-weight: bold;
}

@media only screen and (max-width: 600px){
  .container {
    margin:auto;
    text-align: center;
    width: 95%; 
  }
  .desc {
    width: 59%;
    float: left;
    padding-left: 20px;
  }
  .img {
    width: 34%;
  }
}